/* level-select.details.css - Import hub (keeps existing references stable) */

@import url("/src/styles/css/level-select.details.core.css");
@import url("/src/styles/css/level-select.details.effects.css");
@import url("/src/styles/css/level-select.details.responsive.css");
